# Titanic - Machine Learning from Disaster

Variable Description

| Variable  | Definition                           | Key                                   |
|-----------|-------------------------------------|---------------------------------------|
| survival  | Survival                            | 0 = No, 1 = Yes                       |
| pclass    | Ticket class                        | 1 = 1st, 2 = 2nd, 3 = 3rd            |
| sex       | Sex                                 |                                       |
| Age       | Age in years                        |                                       |
| sibsp     | # of siblings / spouses aboard the Titanic |                                   |
| parch     | # of parents / children aboard the Titanic |                                   |
| ticket    | Ticket number                       |                                       |
| fare      | Passenger fare                      |                                       |
| cabin     | Cabin number                        |                                       |
| embarked  | Port of Embarkation                 | C = Cherbourg, Q = Queenstown, S = Southampton |

In [14]:
import requests

In [15]:
import pandas as pd

In [30]:
passenger1 = {
        "pclass": 3,
        "sex": "male",
        "age": 34.5,
        "sibSp": 0,
        "parch": 2,
        "fare":  7.8292,
        "cabin": 'no',
        "embarked": "S",
    }

In [31]:
passenger2 = {
        "pclass": 1,
        "sex": "female",
        "age": 70,
        "sibSp": 0,
        "parch": 1,
        "fare":  1.8292,
        "cabin": 'no',
        "embarked": "S",
    }

In [32]:
# passenger = dftest.iloc[0].to_dict()
url = 'http://0.0.0.0:9696/predict'

In [33]:
requests.get(url)

In [34]:
response = requests.post(url, json=passenger1)
response.json()

{'disaster': True, 'disaster_probability': 0.2}

In [35]:
response = requests.post(url, json=passenger2)
response.json()

{'disaster': True, 'disaster_probability': 0.64}

In [22]:
import pandas as pd
import pickle
import pandas as pd

model_path = "saved_model.pkl"


def load_model(model_path=model_path):
    with open(model_path, "rb") as fin:
        (model, dv) = pickle.load(fin)
        return (model, dv)


model, dv = load_model()

In [29]:
dv.feature_names_

['age',
 'age=female',
 'age=male',
 'embarked',
 'embarked=C',
 'embarked=Q',
 'embarked=S',
 'fare',
 'parch',
 'pclass',
 'sex=female',
 'sex=male',
 'sibsp']

In [36]:
dv.transform(passenger2)

array([[70.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  1.    ,
         1.8292,  1.    ,  1.    ,  1.    ,  0.    ,  0.    ]])

In [24]:
xtest = dv.transform(pd.read_csv('titanic/test.csv').to_dict(orient = 'records'))

In [25]:
import numpy as np

In [26]:
np.unique(xtest)

array([0.])